name: Update Rankings

on:
  schedule:
    - cron: "0 */1 * * *"   # a cada 1 horas
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Fetch downloads data
        run: node scripts/fetch_downloads.js

      - name: Commit and push rankings
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

          git pull --rebase origin main || true

          git add data/rankings.json
          git commit -m "Update rankings" || echo "No changes to commit"

          git push origin main
